

.carousel-nav-buttons {
  background-color: rgba(63, 206, 6, 0.5);
  transition: all 0.3s ease; 
}

.carousel-nav-buttons:hover {
  background-color: rgba(186, 12, 12, 0.8); 
  color: black; 
  transform: scale(1.1);
}

